$center-offset: 200em;
$puck-diameter: 75em;
:host {
  // display: block;
  // padding: 0 35em;
  * {
    font-size: 1px;
  }
}
tft-board {
  display: flex;
  height: 500em;
  width: 90vw;
  background: rosybrown;
  justify-content: space-between;;

  tft-player-zone {
    display: flex;
    flex-grow: 1;
    height: 100%;
    &.a {
      margin-right: $center-offset;
    }
    &.b {
      margin-left: $center-offset;
      justify-content: flex-end;
    }
    tft-target, tft-tray {
      height: 100%;
    }
  }

  .target-area {
    display: flex;
    width: 300em;
    justify-self: flex-end;
  }
  tft-tray {
    width: 100em;
  }
}
