.alternate-root {
  width: 500px;
  height: 500px;
  background: hotpink;
}
.draggable, .trigger {
  width: 30px;
  height: 30px;
}
.trigger {
  background: aqua;
}
.draggable {
  background: burlywood;
}
