:host {
  /* display: block; */
  position: absolute;
  display: block;
}
.puck {
  height: 75em;
  width: 75em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 2em solid white;
  border-radius: 50%;
  &.red {
    background: red;
  }

  &.blue {
    background: blue;
  }
}
