.heading {
  position: absolute;
}
.page {
  background-color: red;
  width: 900px;
  height: 900px;
}
.drag-canvas {
  width: 500px;
  height: 500px;
  background: hotpink;
}

.trigger {
  width: 60px;
  height: 60px;
  background: aqua;
}
.drag-preview {
  background: burlywood;
  width: 160px;
  height: 160px;
  img {
    height: 100%;
    width: 100%;
  };
}
