.heading {
  position: absolute;
}
h2 {
  font-size: 16px;
}
.page {
  background-color: red;
  width: 900em;
  height: 900em;
}
.drag-canvas {
  width: 500em;
  height: 500em;
  background: hotpink;
}

.trigger {
  width: 60em;
  height: 60em;
  background: aqua;
}
.drag-preview {
  font-size: inherit;
  background: burlywood;
  width: 160em;
  height: 160em;
  img {
    height: 100%;
    width: 100%;
  };
}
