:host {
  display: block;
  background: blue;
  .drop-container {
    height: 100%;
    h3 {
      position: absolute;
      font-size: 16px;
    }
  }
}
.dropzone-item {
  width: 80em;
  height: 80em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 400;
  background: green;
  color: black;
  .handle {
    width: 40em;
    height: 40em;
    background: white;
  }
}
