

<!-- <button (click)="startTest(dragSteps, dragJumps)">Start Test</button> -->
<div class="drag-origin-container">

  <div class="drag-origin" 
    *ngFor="let item of dragItems; let i = index;"    
    [dropzoneData]="item"
    (dragEnter)="log('enter', $event)"
    tftDropzone>
    <div class="drag-origin-header">
      remaining: {{ item.count }}
    </div>
    <div class="drag-origin-content">
      <section 
        *ngFor="let count of countAsArray(item.count)"
        tftDraggable
        (dragEnd)="handleDrop($event, i)"
        [dragConfig]="dragConfig"
        [dragData]="count"
        class="interact-item">
        <div 
          class="handle">
          {{item.name}} {{ count }}
        </div>
    
      </section>
    
    </div>
    
   
  
  </div>
</div>

<div 
  class="drop-container" 
  #dropContainer2
  tftDropzone 
  tftDraggable
  tftResizable
  (dragLeave)="log('leave', $event)"

  [dropzoneData]="droppedItems">
  <section 
    *ngFor="let item of droppedItems"
    tftDraggable
    [dragConfig]="dragConfigB"
    [x]="item.x"
    [y]="item.y"
    [dragData]="item"
    class="dropzone-item">
    <div class="handle">{{item.name}}</div>
  </section>
</div>
