

<button (click)="startTest(dragSteps, dragJumps)">Start Test</button>
<div class="drag-origin-container">

  <div class="drag-origin" 
    *ngFor="let item of dragItems"    
    [dropzoneData]="item"
    (dragEnter)="log('enter', $event)"
    (dragDrop)="handleDrop($event)"
    tftDropzone>
    <section 
      *ngFor="let count of item.count"
      tftDraggable
      tftResizable
      (dragStart)="log('dragStart', $event)"
      [dragOptions]="dragConfig"
      [data]="count"
      class="interact-item">
      <div 
        (click)="clicked()"
        class="handle">
        {{item.name}}
      </div>
  
    </section>
  
    
   
  
  </div>
</div>

<div 
  class="drop-container" 
  #dropContainer2
  tftDropzone 
  (dragDrop)="handleDrop($event)"
  [dropzoneData]="droppedItems">
  <section 
    *ngFor="let item of droppedItems"
    tftResizable
    tftDraggable
    [dragOptions]="dragConfigB"
    [x]="item.x"
    [y]="item.y"
    [data]="item"
    class="dropzone-item">
    <div class="handle">{{item.name}}</div>
  </section>
</div>
