.drag-container {
  width: 1000px;
  height: 400px;
  background: green;
 
}

.drop-container {
  width: 1000px;
  height: 1000px;
  background: blue;
}

.interact-item, .dropzone-item {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  .handle {
    width: 40px;
    height: 40px;
    background: black;
  }
}
.interact-item {
  background: blueviolet;
}
.dropzone-item {
  background: green;
}
