
<div class="drag-container"     
  [dropzoneData]="dragItems"
  tftDropzone>
  <button (click)="startTest(dragSteps, dragJumps)">Start Test</button>
  <section 
    *ngFor="let item of dragItems"
    tftDraggable
    tftResizable
    [x]="item.x"
    [y]="item.y"
    [dragOptions]="dragConfig"
    (dragEnd)='interactDragEnd($event)'
    [data]="item"
    class="interact-item">
    <div 
      (click)="clicked()"
      class="handle">
      {{item.name}}
    </div>

  </section>

  
  <!-- <section 
    tftResizable
    tftDraggable
    [dragOptions]="dragConfig"
    class="interact-item">

  </section> -->

</div>

<div 
  class="drop-container" 
  #dropContainer2
  tftDropzone 
  (dragDrop)="handleDrop($event)"
  [dropzoneData]="droppedItems">
  <section 
    *ngFor="let item of droppedItems"
    tftResizable
    tftDraggable
    [dragOptions]="dragConfigB"
    [x]="item.x"
    [y]="item.y"
    [data]="item"
    class="dropzone-item">
    <div class="handle">{{item.name}}</div>
  </section>
</div>
