.drag-origin-container {
  width: 1000px;
  display: flex;
  .drag-origin {
    display: flex;
    flex-direction: column;
    margin: 8px;
    .drag-origin-header {
      background: blue;
      color: white;
    }
    .drag-origin-content {
      width: 120px;
      height: 120px;
      background: rgba(0, 255, 21, 0.555);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.drop-container {
  width: 1000px;
  height: 1000px;
  background: blue;
}

.interact-item, .dropzone-item {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 400;
  .handle {
    width: 40px;
    height: 40px;
    background: white;
  }
}
.interact-item {
  background: blueviolet;
  border: 1px solid white;
}
.dropzone-item {
  background: green;
}
