:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  [tftGesturable] {
    touch-action: pan-x pan-y;
  }
}

.drag-origin-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  overflow-x: auto;
  width: 100%;
  bottom: 0;
  background: wheat;

}


.yard {
  color: white;
  display: flex;
  width: 500em;
  height: 500em;
  background: rosybrown;
  h2 {
    position: absolute;
  }
}


